/* @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Red+Hat+Display:wght@500;700;900&display=swap"); */

.nav-ul {
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
}
.nav-btns button:nth-child(1) {
  border: none;
  outline: none;
  background-color: transparent;
  color: hsl(0, 0%, 41%);
}
.nav-btns button:nth-child(2) {
  outline: none;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 41%);
}
a {
  text-decoration: none;
  color: black;
  margin: 10px;
  display: inline;
}
.ham {
  display: none;
}
.overlay {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 75px;
  width: 550px;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-gap: 80px;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 100%;
}
.logos {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero button {
  margin-top: 40px;
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 15px;
  transition: all 1s;
}
.hero button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: grey;
  cursor: pointer;
  font-family: bold;
  transition: all 1s;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  border-radius: 10px;
  padding: 20px;
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a{
    color: black;
    padding: 10px 12px;
    display: flex;
    align-items: center;
}
.dropdown-content img{
    margin-right: 10px;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}